name: Release

on:
  push:
    branches:
      - main

env:
  COMPOSE_FILE: compose.yaml:compose.github.yaml

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and test
        run: docker compose run --rm test

      - name: Push to GitHub Container Registry
        run: docker compose build --push homeassistant